@model TP_Cariage_API.Models.Ghes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ghes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoCot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoCot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
